.card {
  max-width: 500px;
  text-align: center;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.row {
  position: absolute;
  left: 1px;
  top: 40%;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .card {
    max-width: 300px;
  }
  .row {
    left: 10px;
  }
}
